@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/mauve.css";

.Input,
.Textarea,
.Button {
  all: unset;
  box-sizing: border-box;
  font-family: monserrat, sans-serif;
}

.FormRoot {
  width: 260px;
  font-family: monserrat, sans-serif;
  font-weight: 400;
}

.FormField {
  display: grid;
  margin-bottom: 10px;
  font-family: monserrat, sans-serif;
  font-weight: 400;
}

.FormLabel {
  font-size: 15px;
  font-family: monserrat, sans-serif;
  font-weight: 400;
  line-height: 35px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.FormMessage {
  font-size: 13px;
  font-family: monserrat, sans-serif;
  font-weight: 400;
  color: rgb(255, 0, 0);
  opacity: 0.8;
}

.Input,
.Textarea {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-family: monserrat, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: rgb(0, 0, 0);
  background-color: var(--black-a5);
  box-shadow: 0 0 0 1px var(--black-a9);
}
.Input:hover,
.Textarea:hover {
  box-shadow: 0 0 0 1px black;
}
.Input:focus,
.Textarea:focus {
  box-shadow: 0 0 0 2px black;
}
.Input::selection,
.Textarea::selection {
  background-color: var(--black-a9);
  color: white;
}

.Input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}

.Textarea {
  resize: none;
  padding: 10px;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  font-family: monserrat, sans-serif;
  font-weight: 400;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: 100%;

  background-color: white;
  color: rgb(0, 31, 85);
  box-shadow: 0 2px 10px var(--black-a7);
}
.Button:hover {
  background-color: var(--mauve-3);
}
.Button:focus {
  box-shadow: 0 0 0 2px black;
}

/* MenuBar */

button {
  all: unset;
}

.MenubarRoot {
  display: flex;
  background-color: rgb(244, 244, 244);
  align-items: center;
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 2px 10px var(--black-a7);
  font-family: monserrat, sans-serif;
}

.MenubarTrigger {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  color: rgb(0, 31, 85);
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  font-weight: bolder;
}

.MenubarTrigger[data-highlighted],
.MenubarTrigger[data-state="open"] {
  background-color: white;
}

.MenubarContent,
.MenubarSubContent {
  min-width: 220px;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.MenubarItem,
.MenubarSubTrigger,
.MenubarCheckboxItem,
.MenubarRadioItem {
  all: unset;
  font-size: 13px;
  line-height: 1;
  color: var(--violet-11);
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 10px;
  position: relative;
  user-select: none;
}

.MenubarItem.inset,
.MenubarSubTrigger.inset,
.MenubarCheckboxItem.inset,
.MenubarRadioItem.inset {
  padding-left: 20px;
}

.MenubarItem[data-state="open"],
.MenubarSubTrigger[data-state="open"] {
  background-color: var(--violet-4);
  color: var(--violet-11);
}

.MenubarItem[data-highlighted],
.MenubarSubTrigger[data-highlighted],
.MenubarCheckboxItem[data-highlighted],
.MenubarRadioItem[data-highlighted] {
  background-image: linear-gradient(
    135deg,
    var(--violet-9) 0%,
    var(--violet-10) 100%
  );
  color: var(--violet-1);
}

.MenubarItem[data-disabled],
.MenubarSubTrigger[data-disabled],
.MenubarCheckboxItem[data-disabled],
.MenubarRadioItem[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}

.MenubarItemIndicator {
  position: absolute;
  left: 0;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.MenubarSeparator {
  height: 1px;
  background-color: var(--violet-6);
  margin: 5px;
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--mauve-9);
}

[data-highlighted] > .RightSlot {
  color: white;
}

[data-disabled] > .RightSlot {
  color: var(--mauve-8);
}

.userData {
  width: 90%;
  margin-top: 5%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: monserrat, sans-serif;
  font-weight: 400;
}

/* Style for userDataText */
.userDataText {
  line-height: 2;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Style for Card component */
.userCard {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style for Button components */
.userButton {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* .bodyMain {
  background: rgb(0, 31, 85);
  background: linear-gradient(
    90deg,
    rgba(0, 31, 85, 0) 0%,
    rgba(7, 58, 124, 1) 100%
  );
} */

.disabled {
  background-color: rgb(255, 202, 202);
}

.enabled {
  background-color: rgb(195, 255, 195);
}

.pending {
  background-color: rgb(187, 187, 187);
}

/* Style for the container div */
.userList {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: monserrat, sans-serif;
  font-weight: 400;
}
